body{background: linear-gradient(90deg, #B070DE 0%, #FBA3A3 100%);}
h1{font-family: Arial; color: blue; font-size: 30px;}
p1{color: gold; font-size: 25px; font-family: sans-serif; background-color: silver;}